@use "../foundation/variables" as v;

.p-work__title-outer{
	display: flex;
	padding: 50px 5%;
	@include v.mq(md){
		flex-direction: column-reverse;
	}
}

.p-work__title-block {
  color: v.$color-white;
	flex:1;
	padding: 20px 8%;
}

.p-work__title__text {
  font-size: 4.2rem;
}
.p-work__scope__text {
  font-size: 3.2rem;
}
.p-work__desc__text {
  font-size: 2.0rem;
}

.p-work__image-block{
	flex:0.7;
}

.p-work__card-outer{
	margin-top: 20px;
}

.p-work__card-wrapper{
	background-color: v.$color-white;
}
